
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MuiContainer-root{
  /* text-align: center!important; */
}
.paper{


  /* padding-top: 30px; */
  /* padding: 100px 40px 0 40px!important; */
}
.makeStyles-root-38{
  width: 100%;
}
.heading{
  text-align: start!important;
  width: 100%;
  padding-bottom:10px ;

}
.btn_group{
  display: flex;
}
.btn{
  background-color: rgb(36, 111, 36)!important;
  
}
.btn_cancel{
  background-color: rgb(184, 20, 20)!important;
  margin-left: 20px!important;
}
.statusDiv{
  display:flex;
  align-items:center;
  width: 100%!important;
}
.makeStyles-root-1,.root{
  width: 100%;
  padding-top: 48px!important;
}
.css-1nrlq1o-MuiFormControl-root{
  width: 100%;
}
.routes_data{
  width: 40%!important;
  float: right!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
