body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.output{
  width: 100% !important;
}
.maingroup{
  border: 1px solid #333;
  margin-bottom: 20px;
}
.groupbox {
  width: 100%;
  background: #ddd;
  padding: 10px 0;
}
.grouptitle{
  width: 85%;
  float: left;
}
.groupremoveicon{
  padding: 0 !important;
  margin: 0 10px !important;
}
.groupicon{
  text-align: right;
}

.mainattribute{
  width: 100%;
    padding-left: 5% !important;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.attributetitle{
  width: 85%;
    float: left;
}

/* Modal styling */

.modal {
  font-size: 12px;
  border: 1px solid black;
  background-color: white;

}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
